<div class="bg-dark">
    <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let item of popularProducts; let one = first" [ngClass]="{'active': one}"
                    class="carousel-item">
                    <a routerLink="/detail/{{item.id}}">
                        <img src="{{item.image}}" class="d-block w-auto mx-auto"
                            style="object-fit: contain; max-height: 500px;" alt="...">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="my-3">Trending Products</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let item of trendyProducts">
            <div class="card">
                <img src="{{item.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.price}}</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a routerLink="/detail/{{item.id}}" class="btn btn-primary">View details</a>
                        <a href="#" class="btn btn-info">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>